.contact form input {
  padding: 10px 15px;
}

.contact form textarea {
  padding: 10px 15px;
}

.contact form button[type='submit'] {
  background: #106eea;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact form button[type='submit']:hover {
  background: #3b8af2;
}
